<header class="header-page">
  <div class="container header-container">
    <a href="../src/index.html"><span class="logo">News</span></a>

    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list__item">
          <a href="../src/index.html" data-set="home" class="header-list__link"
            >Home</a
          >
        </li>
        <li class="header-list__item">
          <a
            href="../src/favorite.html"
            data-set="favorite"
            class="header-list__link"
            >Favorite</a
          >
        </li>
        <li class="header-list__item">
          <a href="../src/read.html" data-set="read" class="header-list__link"
            >Read</a
          >
        </li>
      </ul>
    </nav>

    <form class="header-form">
      <button type="submit" class="header-form__btn">
        <svg width="20" height="19" class="header-form__btn-icon">
          <use href="../src/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>

      <input
        type="text"
        name="search"
        placeholder="Search"
        class="header-form__input"
      />
    </form>

    <div class="switcher-wrapper">
      <svg
        width="21"
        height="21"
        class="switcher-icon switcher-icon--light is-light"
      >
        <use href="../src/images/symbol-defs.svg#icon-sun"></use>
      </svg>

      <span class="switcher-indicator switcher-indicator--light is-light"
        >Light</span
      >

      <fieldset class="switcher">
        <legend class="switcher__legend">Them</legend>

        <input
          class="switcher__radio switcher__radio--lignt"
          type="radio"
          name="color-scheme"
          value="light"
        />
        <input
          class="switcher__radio switcher__radio--dark"
          type="radio"
          name="color-scheme"
          value="dark"
        />
        <div class="switcher__status"></div>
      </fieldset>

      <span class="switcher-indicator switcher-indicator--dark">Dark</span>

      <svg width="21" height="21" class="switcher-icon switcher-icon--dark">
        <use href="../src/images/symbol-defs.svg#icon-moon"></use>
      </svg>
    </div>

    <button type="button" class="header-btn header-btn__open">
      <svg width="24" height="24" class="header-btn__open-modal">
        <use href="../src/images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>

    <div class="mobile-modal">
      <a href="../src/index.html" class="header-link__modal"
        ><span class="logo">News</span></a
      >

      <nav class="modal-nav">
        <ul class="modal-list">
          <li data-mobile="home" class="modal-list__item">
            <a href="../src/index.html" class="modal-list__link">
              <div class="modal-list__icon-wrapper">
                <svg width="32" height="32" class="modal-list__icon-home">
                  <use href="../src/images/symbol-defs.svg#icon-home"></use>
                </svg>
              </div>
              Home
              <svg width="24" height="24" class="modal-list__icon-way">
                <use href="../src/images/symbol-defs.svg#icon-right"></use>
              </svg>
            </a>
          </li>

          <li data-mobile="favorite" class="modal-list__item">
            <a href="../src/favorite.html" class="modal-list__link">
              <div class="modal-list__icon-wrapper">
                <svg width="32" height="32" class="modal-list__icon-home">
                  <use href="../src/images/symbol-defs.svg#icon-bigheart"></use>
                </svg>
              </div>
              Favorite
              <svg width="24" height="24" class="modal-list__icon-way">
                <use href="../src/images/symbol-defs.svg#icon-right"></use>
              </svg>
            </a>
          </li>

          <li data-mobile="read" class="modal-list__item">
            <a href="../src/read.html" class="modal-list__link">
              <div class="modal-list__icon-wrapper">
                <svg width="32" height="32" class="modal-list__icon-home">
                  <use href="../src/images/symbol-defs.svg#icon-home"></use>
                </svg>
              </div>
              Read
              <svg width="24" height="24" class="modal-list__icon-way">
                <use href="../src/images/symbol-defs.svg#icon-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <button type="button" class="header-btn header-btn__close">
        <svg width="24" height="24" class="header-btn__close-modal">
          <use href="../src/images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
