@import './mobile-menu';
@import './search-form';
@import './switcher';

.header-page {
  border-bottom: 1px solid var(--header-underline-color);
}

.header-container {
  display: flex;
  align-items: center;

  padding: 24px 16px;

  @media screen and (min-width: $tablet) {
    padding: 32px 16px 28px;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    padding: 28px 16px;
    align-items: baseline;
  }
}

.logo {
  display: inline-flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;

  color: var(--primary-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    line-height: 1.375;
  }

  @media screen and (min-width: $desktop) {
    font-size: 42px;
    line-height: 1.357;
  }
}

//Хедер навигация
.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list {
  @media screen and (min-width: $tablet) {
    padding: 0;
    display: flex;
    margin-left: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 102px;
  }
}

.header-list__item {
  list-style: none;

  &:not(:first-child) {
    margin-left: 44px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:first-child) {
      margin-left: 69px;
    }
  }
}

.header-list__link {
  padding: 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.389;
  }

  &--current {
    border-bottom: 1px solid var(--accent-color);
  }

  transition: color $transition-duration $timing-function;
}
