.header-link__modal {
  display: inline-flex;
  margin-bottom: 68px;
}

.header-btn {
  display: inline-flex;
  margin-left: auto;

  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  &__open-modal {
    padding: 3px;
    fill: var(--primary-text-color);
  }

  &__close-modal {
    position: absolute;
    padding: 6px;

    top: 24px;
    right: 16px;

    fill: var(--primary-text-color);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-modal {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 16px;

  z-index: 11;
  overflow-y: scroll;
  pointer-events: none;
  visibility: hidden;

  background-color: var(--primary-bg-color);

  transform: translateY(-100%);

  transition: transform $transition-duration $timing-function,
    visibility $transition-duration $timing-function;

  &.is-open {
    transform: translateY(0);
    pointer-events: initial;
    visibility: visible;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.modal-list {
  margin: 0;
  padding: 0;
}

.modal-list__item {
  padding: 6px 16px;
  margin: 0 -16px;

  list-style: none;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  &--current {
    color: #f4f4f4;
    background-color: var(--accent-color);
  }
}

.modal-list__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: var(--primary-text-color);

  &--current {
    color: #f4f4f4;
  }
}

.modal-list__icon-wrapper {
  margin-right: 14px;
}

.modal-list__icon-home {
  border-radius: 50%;
  border: 1px solid white;
}

.modal-list__icon-way {
  display: block;
  margin-left: auto;
}
