<footer class="footer">
  <div class="container footer-container">
    <div class="footer-lbsf-wrapper">
      <div class="footer-lbs-wrapper">
        <div class="footer-lb-wraper">
          <a href="../src/index.html"
            ><span class="logo footer-logo">News</span></a
          >

          <div class="footer-btn-wrapper">
            <button type="button" class="footer-btn footer-btn__login">
              Log in
            </button>

            <button type="button" class="footer-btn footer-btn__reg">
              Register
            </button>
          </div>
        </div>

        <div class="footer-social-thumb">
          <p class="footer-social-thumb__text">join us</p>

          <ul class="social-list social-list--centering">
            <li class="social-list__item">
              <a
                href=""
                target="_blank"
                aria-label="Instagram"
                class="social-list__link social-list__link--grey"
              >
                <svg
                  class="social-list__icon social-list__icon--white"
                  width="20"
                  height="20"
                >
                  <use href="./images/symbol.svg#iconinstagram"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a
                href=""
                target="_blank"
                aria-label="Twitter"
                class="social-list__link social-list__link--grey"
              >
                <svg
                  class="social-list__icon social-list__icon--white"
                  width="20"
                  height="20"
                >
                  <use href="./images/symbol.svg#icontwitter"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a
                href=""
                target="_blank"
                aria-label="Facebook"
                class="social-list__link social-list__link--grey"
              >
                <svg
                  class="social-list__icon social-list__icon--white"
                  width="20"
                  height="20"
                >
                  <use href="./images/symbol.svg#iconfacebook"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a
                href=""
                target="_blank"
                aria-label="Linkedin"
                class="social-list__link social-list__link--grey"
              >
                <svg
                  class="social-list__icon social-list__icon--white"
                  width="20"
                  height="20"
                >
                  <use href="./images/symbol.svg#iconlinkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-form-thumb">
        <p class="footer-form-thumb__text">subscribe</p>

        <form action="" class="footer-form">
          <label for="" class="footer-form__label"
            ><input
              type="email"
              name="email"
              placeholder="E-mail"
              class="footer-form__input" />

            <button class="footer-form__btn" type="submit">
              Subscribe
              <svg class="footer-form__icon" width="24" height="24">
                <use href="./images/symbol.svg#send"></use>
              </svg></button
          ></label>
        </form>
      </div>
    </div>

    <div class="policy-wrapper">
      <ul class="policy-list">
        <li class="policy-list__item-rule">
          <a
            class="policy-list__rule-link"
            href="https://dotcomcanvas.de/en/policies/privacy-policy?utm_source=google&utm_medium=paid&utm_campaign=18032491326&utm_content=&utm_term=&gadid=&gclid=Cj0KCQjwwfiaBhC7ARIsAGvcPe68nWrmMfnjrjWL0agrH0YxT8sBAmS4i-G_ADvE3O3vOiyUsGVu_6MaArtqEALw_wcB"
            target="_blank"
            rel="noreferrer noopener"
          >
            Privacy Policy</a
          >
        </li>

        <li class="policy-list__item-rule">
          <a class="policy-list__rule-link team__btn" href="#">Our team</a>
        </li>
      </ul>

      <p class="policy-text__temp policy-text__temp--hidden">
        2023 News. All right reserved.
      </p>
    </div>
    <p class="policy-text policy-text--hidden">
      2023 News. All right reserved.
    </p>
    <!-- <button class="team__btn">Team</button> -->
  </div>

  <div class="footer-mobile-modal mobile-modal-backdrop is-hidden">
    <div class="footer-mobile-modal-reg">
      <button class="modal-btn-close" type="button" data-modal-close>
        <svg class="modal-btn-close__icon" width="11" height="11">
          <use href="./images/symbol.svg#iconsx"></use>
        </svg>
      </button>

      <form class="modal-form">
        <label for="name" class="form-field form-label">Name</label>
        <div class="input-thumb">
          <input type="text" name="name" id="name" class="form-input" />
          <svg class="form-icon" width="18" height="18">
            <use href="./images/symbol.svg#iconname"></use>
          </svg>
        </div>

        <label for="phone" class="form-field form-label">Phone</label>
        <div class="input-thumb">
          <input type="tel" name="phone" id="phone" class="form-input" />
          <svg class="form-icon" width="18" height="18">
            <use href="./images/symbol.svg#icontruba"></use>
          </svg>
        </div>

        <label for="email" class="form-field form-label">Mail</label>
        <div class="input-thumb">
          <input
            type="email"
            name="email"
            id="email"
            class="form-input form-input__mail"
          />
          <svg class="form-icon" width="18" height="18">
            <use href="./images/symbol.svg#iconmail"></use>
          </svg>
        </div>

        <label class="form-field checkbox-flex">
          <input type="checkbox" name="checkbox" class="form-checkbox" />
          <span class="checkbox-action">
            <svg class="check-icon" width="16" height="15">
              <use href="./images/symbol.svg#fullcheck"></use>
            </svg>
          </span>
          Accept
          <a
            class="check-link-treaty"
            href="https://dotcomcanvas.de/en/policies/privacy-policy?utm_source=google&utm_medium=paid&utm_campaign=18032491326&utm_content=&utm_term=&gadid=&gclid=Cj0KCQjwwfiaBhC7ARIsAGvcPe68nWrmMfnjrjWL0agrH0YxT8sBAmS4i-G_ADvE3O3vOiyUsGVu_6MaArtqEALw_wcB"
            target="_blank"
            rel="noreferrer noopener"
          >
            &nbsp;Privacy Policy</a
          >
        </label>

        <button type="submit" class="form-btn" disabled>Register</button>
      </form>
    </div>
  </div>
</footer>
