<div class="team">
  <div class="team__backdrop is-hidden">
    <div class="team__modal">
      <button type="button" class="team__btn-x" data-team-close>
        <svg class="team__close" width="24" height="24">
          <use
            href="./images/team/symbol-defs.svg#icon-ep_close"
            aria-label="Перемикач мобільного меню"
          ></use>
        </svg>
      </button>

      <div>
        <ul class="team__list">
          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/pavel.jpg"
                  width="300"
                  alt="Pavel Savchenko"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Pavel <span class="team__title-span">Savchenko</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/pavel.jpg"
                  width="100"
                  alt="Pavel Savchenko"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Pavel <span class="team__title-span">Savchenko</span>
              </h2>
              <p class="team__name">Team lead</p>
              <p class="team__paragraph">
                Created: <br />
                Search button by categories; <br />
                Pagination.
              </p>
              <a
                href="https://github.com/neutr00n/NewsPage"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/artem.jpg"
                  width="300"
                  alt="Klass Artem"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Artem <span class="team__title-span">Klass</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/artem.jpg"
                  width="100"
                  alt="Klass Artem"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Artem <span class="team__title-span">Klass</span>
              </h2>
              <p class="team__name">Scrum master</p>
              <p class="team__paragraph"></p>
              <a
                href="https://github.com/KlassArtem"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/viktoria.jpg"
                  width="200"
                  alt="Viktoria Bezpalova"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viktoria <span class="team__title-span">Bezpalova</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/viktoria.jpg"
                  width="100"
                  alt="Viktoria Bezpalova"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viktoria <span class="team__title-span">Bezpalova</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                News-section <br />
                (fetch, render in Home-page).
              </p>
              <a
                href="https://github.com/Victoria257?tab=repositories"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://linkedin.com/in/viktoria-bezpalova-68a877260"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/valeriy.jpg"
                  width="200"
                  alt="Valeriy Lizogub"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Valeriy <span class="team__title-span">Lizogub</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/valeriy.jpg"
                  width="100"
                  alt="Valeriy Lizogub"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Valeriy <span class="team__title-span">Lizogub</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Read-page <br />
                (fetch, render Read-page).
              </p>
              <a
                href="https://github.com/Riatte"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://github.com/Riatte"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/borys.png"
                  width="200"
                  alt="Romanov Borys"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Borys <span class="team__title-span">Romanov</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/borys.png"
                  width="100"
                  alt="Romanov Borys"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Borys <span class="team__title-span">Romanov</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Weather-block <br />(fetch, render Weather-block).
              </p>
              <a
                href="https://github.com/Umberban"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://www.linkedin.com/in/borys-romanov-465897265"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/viktor.jpg"
                  width="200"
                  alt="Savchenko Viktor"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viktor <span class="team__title-span">Savchenko</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/viktor.jpg"
                  width="100"
                  alt=" Savchenko Viktor"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viktor <span class="team__title-span">Savchenko</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Header (modal, theme-switcher); <br />
                Footer.
              </p>
              <a
                href="https://github.com/ViktorSavchenko"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/vitaliy.jpg"
                  width="200"
                  alt="Vitaliy Korzhevy"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Vitaliy <span class="team__title-span">Korzhevy</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/vitaliy.jpg"
                  width="100"
                  alt="Vitaliy Korzhevy"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Vitaliy <span class="team__title-span">Korzhevy</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Calendar <br />(API, plug to website functional).
              </p>
              <a
                href="https://github.com/VitaliyKorzhevyi"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/viascheslav.jpeg"
                  width="200"
                  alt="Kobets Viascheslav"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viascheslav <span class="team__title-span">Kobets</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/viascheslav.jpeg"
                  width="100"
                  alt="Kobets Viascheslav"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Viascheslav <span class="team__title-span">Kobets</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Search logic by News category; <br />
              </p>
              <a
                href="https://github.com/MertagUA"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://www.linkedin.com/in/viacheslav-kobets-179836242/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/volodya.jpg"
                  width="200"
                  alt="Volodya  Kushch"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Volodymyr <span class="team__title-span">Kushch</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/volodya.jpg"
                  width="100"
                  alt="Volodya  Kushch"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Volodymyr <span class="team__title-span">Kushch</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                Favorite-page <br />
                (fetch, render Favorite-page).
              </p>
              <a
                href="https://github.com/Volodya460"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://www.linkedin.com/in/volodya-kushch-456589267/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="team-card team__card">
            <div class="team-card__side team-card__side--front">
              <div class="team__thumb-front">
                <img
                  src="./images/team/dima.jpg"
                  width="200"
                  alt="Dmytrii Vitkivskyi"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Dmytrii <span class="team__title-span">Vitkivskyi</span>
              </h2>
            </div>
            <div class="team-card__side team-card__side--back">
              <div class="team__thumb">
                <img
                  src="./images/team/dima.jpg"
                  width="100"
                  alt="Dmytrii Vitkivskyi"
                  loading="lazy"
                />
              </div>
              <h2 class="team__title">
                Dmytrii <span class="team__title-span">Vitkivskyi</span>
              </h2>
              <p class="team__name">Full stack developer</p>
              <p class="team__paragraph">
                Created: <br />
                <br />
                Pagination.
              </p>
              <a
                href="https://github.com/dima2605"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__gh" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://www.linkedin.com/in/dmytrii-vitkivskyi-947804254/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="team__li" width="30" height="30">
                  <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
