@mixin breakpoint($point) {
  @if $point==mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @if $point==tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $point==desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }

  @if $point==mobile-max {
    @media screen and (max-width: $mobile-max) {
      @content;
    }
  }

  @if $point==tablet-max {
    @media screen and (max-width: $tablet-max) {
      @content;
    }
  }

  @if $point==tablet-only {
    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
      @content;
    }
  }
}
