<form class="search-form" autocomplete="off">
    <span class="search-form__file">
        <input class="search-form__input" type="text" name="searchQuery" placeholder="Search images..." />
        <svg class="search-form__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
    </span>
</form>

<!-- ------залишити тут тільки 1 строку, коли будуть готові інші модулі----------------------------------------- -->
<div class="list-news"></div>
<!-- ---------------------------------------------------------------------------------------------------- -->