<div class="news__wrapper"></div>
<div class="list-news">

</div>
<div class="pagination__wrapper pagination-hidden">
  <ul class="pagination js-pagination">
    <li class="pagination_list js-pagination_list ">
      <button class="pagination__btn js-pagination__previous-btn">
        <svg class="pagination_list-icon-left" width="10" height="14">
          <use href="../src/images/symbol-defs.svg#icon-down"></use>
        </svg>
        Prew</button>
    </li>
    <li class="pagination_list pagination_list-btn js-pagination__pages-list"></li>
    <li class="pagination_list">
      <button class="pagination__btn js-pagination__next-btn">Next
        <svg class="pagination_list-icon-right" width="10" height="14">
          <use href="../src/images/symbol-defs.svg#icon-down"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>