
<body>
    <header>
        <div class="header-top">
            <form type="submit">
                <input type="text" name="input" placeholder="Search">
            </form>
        </div>
    </header>
    <main>
        <!-- ------залишити тут тільки 1 строку, коли будуть готові інші модулі----------------------------------------- -->
        <div class="list-news"></div>
        <!-- ---------------------------------------------------------------------------------------------------- -->
    </main>

</body>

</html>