.news {
  padding: 24px 0 60px 0;

  @include breakpoint(tablet) {
    padding: 28px 0 100px 0;
  }

  @include breakpoint(desktop) {
    padding: 28px 0 150px 0;
  }
}

.filter-elements {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;

  @include breakpoint(tablet) {
    margin-bottom: 48px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 60px;
  }
}

.categories-filter {
  position: relative;
  display: flex;
  align-items: center;

  &__list {
    @include breakpoint(mobile-max) {
      display: none;
    }

    display: flex;
    gap: 14px;

    @include breakpoint(desktop) {
      gap: 16px;
    }
  }

  &__item:nth-child(n + 5) {
    display: none;

    @include breakpoint(desktop) {
      display: block;
    }
  }

  &__wrap {
    @include breakpoint(tablet) {
      margin-left: 14px;
    }

    @include breakpoint(desktop) {
      margin-left: 16px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 13px;

    height: 31px;
    min-width: 50px;

    font-size: 12px;
    line-height: 1.33;

    color: var(--switcher-color);
    background-color: var(--categories-filter-bnt-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    cursor: pointer;

    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function;

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
    }

    &.active {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }

  &__icon {
    margin-left: 10px;

    fill: var(--switcher-color);

    transition: rotate $transition-duration $timing-function,
      fill $transition-duration $timing-function;

    .categories-filter__btn:hover &,
    .categories-filter__btn:focus & {
      fill: var(--white-color);
    }

    &.rotate {
      fill: var(--white-color);
      rotate: -180deg;
    }
  }

  &__thumb {
    position: absolute;
    overflow: hidden;

    z-index: 5;
  }

  &__container {
    position: relative;
    display: block;
    padding: 8px 14px;
    width: 148px;
    height: 380px;
    overflow-y: scroll;

    background-color: var(--light-color);
    border-radius: 20px;

    scrollbar-width: none;

    opacity: 0;
    pointer-events: none;

    transform: translateY(-100%);

    transition: transform $transition-duration $timing-function,
      opacity $transition-duration $timing-function,
      filter $transition-duration $timing-function;

    @include breakpoint(tablet) {
      width: 168px;

      padding: 14px 24px;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &.show-categories {
      transform: translateY(0);

      opacity: 1;
      pointer-events: inherit;
      filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
    }
  }

  &__link {
    display: block;

    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.01em;

    color: var(--categories-link-color);

    &:nth-child(1) {
      padding: 6px 0;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__preloader {
    border-radius: 50%;

    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('./../images/1480.gif') no-repeat center center;

    background-size: contain;
    background-color: transparent;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

// -------- СЕКЦИЯ КАЛЕНДАРЯ --------

:root {
  --text-color: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --icon-up: #a2a2a2;
}

$transition-duration: 250ms;
$timing-function: linear;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

//* ---------   CALENDAR TEXT "Search date news" ---------

.calendar-text {
  display: none;

  @media screen and (min-width: $desktop) {
    display: inline;
    margin-left: 111px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    color: var(--text-color);
  }
}


//* ---------   INPUT   ---------

.calendar-input.isActive::placeholder {
  transition: color $transition-duration $timing-function;
  color: var(--white-color);
}

// иконка календаря на инпуте

.calendar__button {
  position: absolute;
  fill: #4440f6;
  margin-left: 12px;
  transition: fill $transition-duration $timing-function;

}

.calendar__button.switchedColor {
  z-index: 2;
  fill: var(--white-color);
  transition: fill $transition-duration $timing-function;

}

// иконка стрелочки на инпуте

.calendar__button-down {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: var(--icon-up);
  right: 12px;
  cursor: pointer;

  transition: rotate .6s cubic-bezier(.4, 0, .2, 1), fill .6s cubic-bezier(.4, 0, .2, 1);

  &.switched{
    fill: var(--white-color);
    rotate: -180deg;
  }
}

.calendar-input.isActive {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  border: 1px solid #4440f7;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-form {
  position: relative;

  @media screen and (min-width: $desktop) {
    margin-right: 52px;
  }
}

.calendar-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;

  width: 152px;
  height: 31px;
  padding: 5px 12px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  
  text-align: center;


  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;

  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  transition: color $transition-duration $timing-function;


  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    gap: 18px;
  }
}

.input-form {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

//  ---------   FORM-CALENDAR   ---------

.current-date-container {
  display: flex;
  align-items: center
}

.icon-symbols {
  cursor: pointer;
  color: var(--accent-color);
}

.icon-symbols__years {
  margin-left: 4px;
margin-top: 3px;
}

.current-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
  color: #000000;
}

.calendar-wrapper {
  position: absolute;

  overflow: hidden;
  z-index: 2;
  display: block;
  width: 250px;

  height: 350px;
  right: 0px;

  pointer-events: auto;
}

.calendar-wrapper__container {
  cursor: default;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  // right: 0px;

  background: var(--white-color);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
  align-items: center;
}

.calendar-wrapper.hidden {
  pointer-events: none;
}

.calendar-wrapper.hidden>.calendar-wrapper__container {
  transform: translateY(-104%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}


.current-date {

  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
  color: #000000;
}

.calendar-icons {
  display: flex;
  gap: 28px;
  color: var(--accent-color);
}

// .cer {

//   width: 9px;
//   height: 17px;
// }

.calendar-icons span {
  // width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  fill: var(--accent-color);
  display: flex;
}

.calendar-icons span:last-child {
  margin-right: 7px;
}

.calendar-icons span:hover {
  background: var(--white-color);
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: #000000;
  z-index: 1;
  position: relative;
  margin-bottom: 12px;
}

.calendar .days li:nth-last-child(-n + 7) {
  margin-bottom: 0;
}

.days li.active {
  color: var(--white-color);
}

.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: var(--accent-color);
}

.days li.inactive {
  color: #a2a2a2;
}
