.js-button_favorites {
  cursor: pointer;
  position: absolute;
  right: 0;

  opacity: 0;
  padding-left: 40px;
  width: 175px;
  height: 28px;
  opacity: 0;
}

lable {
  margin-right: 20px;
}
.icon {
  position: absolute;
  position: absolute;
  fill: var(--white-color);

  margin-left: 5px;

  right: 11;
}

.add {
  fill: var(--accent-color);
}
