//перероблю на міксини і видялю----------------------------------------------------
:root {
    --color-decoration-blue: rgba(68, 64, 246, 1);
    --color-decoration-white: rgba(255, 255, 255, 1);
    --color-main-text: rgba(17, 19, 33, 1);
    --color-secondary-text: rgba(168, 168, 168, 1);
}

//-------------------------------------------------------------------------------------------
// після створення розділу погода, видалити------------------------------------------------------


//----------------------------------------------------------------------------------------------------

.list-news {
    margin-right: auto;
    margin-left: auto;


    margin-bottom: 40px;
}

.set {
    position: relative;
    margin-bottom: 28px;
    width: 288px;
}

.set:nth-child(4) .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.4);
    ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}


.thumb {
    position: relative;
    width: 288px;
    height: 395px;
}

.img-news {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-category {
    position: absolute;
    top: 40px;
    left: 0;

    height: 24px;
    background: rgba(68, 64, 247, 0.7);
    border-radius: 0px 4px 4px 0px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

}

.already-read-button {
    opacity: 0;
    position: absolute;
    top: 14px;
    right: 36px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #00DD73;
    background-color: inherit;
    border: none;
}

.already-read-button {
    opacity: 0;
}

.button-add {
    position: absolute;
    bottom: 12px;
    right: 12px;

    height: 28px;
    background: #FFFFFF;
    border-radius: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #111321;
    ;
}


.title {
    margin-top: 20px;
    overflow: hidden;
    height: 99px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;

    color: var(--color-main-text)
}

.text {
    margin-top: 20px;
    height: 57px;
    overflow: hidden;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: var(--color-main-text)
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.read {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-decoration-blue);
}

.date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-secondary-text);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .buttons {
        margin-bottom: 48px;
    }

    .list-news {

        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 30px;
        margin-left: auto;
        margin-right: auto;

    }

    .weather {
        width: 353px;
        height: 675px;
        margin-bottom: 0;
        order: 1;
    }

    .set {
        width: 353px;
        margin-bottom: 0;
        order: 2;
    }

    .set:nth-child(2) {
        order: 0;
    }

    .thumb {
        width: 353px;
        height: 395px;
    }

    .title {
        height: 132px;
        font-size: 32px;
        line-height: 44px;
    }

    .text {
        height: 66px;
        font-size: 16px;
        line-height: 22px;
    }

    .date {
        margin: 0;
    }


}

@media screen and (min-width: 1280px) {

    .list-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 28px;
        margin-left: auto;
        margin-right: auto;
    }

    .weather {
        width: 353px;
        height: 675px;
        margin-bottom: 0;
        order: 2;
    }

    .set {
        width: 353px;
        margin-bottom: 0;
        order: 3;
    }

    .set:nth-child(2) {
        order: 0;
    }

    .set:nth-child(3) {
        order: 1;
    }

    .thumb {
        width: 353px;
        height: 395px;
    }

    .title {
        height: 132px;
        font-size: 32px;
        line-height: 44px;
    }

    .text {
        height: 66px;
        font-size: 16px;
        line-height: 22px;
    }

    .date {
        margin: 0;
    }


}