.team__btn {
    background-color: rgba(68, 64, 247, 0.7);
    border: rgba(61, 58, 249, 0.7);
    border-radius: 20px;
    padding: 5px 25px;
}

.team {
    display: flex;
    justify-content: end;

    margin-top: -60px;

    &__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-decoration: underline;
        color: black;

        &:hover,
        &:focus {
            color: blue;
            cursor: pointer;
        }
    }

    &__backdrop {
        position: fixed;
        z-index: 6;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(94, 99, 99, 0.7);

        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__modal {
        position: absolute;
        z-index: 7;
        top: 50%;
        left: 50%;
        width: 95%;
        height: 95%;
        transform: scale(1) translate(-50%, -50%);
        padding: 20px;
        background-color: rgb(94, 91, 100);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
        overflow: auto;

        @media screen and (min-width: 480px) {
            width: 470px;
        }

        @media screen and (min-width: 768px) {
            width: 700px;
        }

        @media screen and (min-width: 1280px) {
            width: 1100px;
        }
    }

    &__btn-x {
        position: absolute;
        z-index: 8;
        right: 8px;
        top: 12px;
        width: 32x;
        height: 32px;
        padding: 3px;
        border-radius: 50%;
        border: solid 1px rgb(34, 36, 34);
        // background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0;
        padding: 0;
        justify-content: start;

        @media screen and (max-width: 480px) {
            justify-content: center;
        }

    }

    &__card {
        color: black;
        list-style: none;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

        background-color: grey;
        color: rgb(236, 234, 240);

        border-radius: 15px;
        padding: 15px;

        text-align: center;

        @media screen and (max-width: 480px) {
            width: 250px;
        }

        @media screen and (min-width: 481px) and (max-width: 767px) {
            width: calc((100% - 20px) / 2);
        }


        @media screen and (min-width: 768px) {
            width: calc((100% - 40px) / 3);

        }

        @media screen and (min-width: 1280px) {
            width: calc((100% - 60px) / 4);
        }
    }

    &__thumb {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__thumb>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__thumb-front {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    &__thumb-front img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &__title {
        font-size: 18px;
        line-height: 1.1;
        margin-top: 15px;
        color: black;
    }


    &__name {
        font-size: 14px;
        line-height: 1.1;
        margin-top: 10px;
    }


    &__paragraph {
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.1;
    }

    &__gh {
        position: absolute;
        bottom: 7px;
        right: 7px;
        fill: black;
        width: 30px;
        height: 30px;

        @media screen and (max-width: 399px) {
            width: 25;
            height: 25;
        }
    }

    &__li {

        position: absolute;
        bottom: 7px;
        right: 50px;
        fill: #0A66C2;
        border-radius: 6px;
        background-color: #ffffff;
        transition: transform background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 399px) {
            width: 25;
            height: 25;
        }
    }

    &__title-span {

        @media screen and (max-width: 479px) {
            display: block;
        }

    }

}



.team-card {
    height: 300px;
    perspective: 1000px;

    @media screen and (min-width: 1280px) {
        height: 340px;
    }

    @media screen and (max-width: 480px) {
        height: 370px;
    }


}


.team-card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    transition: all 0.5s ease;
}

.team-card__side {
    outline: none;

}

.team-card__side img {

    @media screen and (min-width: 1280px) {
        width: 100%
    }

    @media screen and (max-width: 480px) {
        width: 100%
    }
}


.team-card__side--front {
    text-align: center;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 10px;
}


.team-card__side--back {
    padding: 20px;
    color: black;
    transform: rotateY(180deg);
    // background-color: #69687a;
    z-index: 1;
    border-radius: 10px;
}

.team-card:hover .team-card__side--front {
    transform: rotateY(-180deg);
}

.team-card:hover .team-card__side--back {
    transform: rotateY(0);
}
